*{
    margin: 0;
    padding: 0;
}

label{
    font-weight: bold;
}

span{
    color: red;
}

header{
    background-color: rgb(197, 136, 128);
}
body{
    display: block;
    width: auto;
    height: auto;
}
main{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: rgb(0, 35, 65);
    border-radius: 10px;
    width: 20%;
    border: 0;
}
button:hover{
    background-color: rgb(83, 0, 238);
}

.form{
    margin-left: 2em;
    padding: 1em;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 1em;
    background-color: rgb(59, 7, 156);
    box-shadow: 1px 1px 5px;
}

.resultado{
    margin-right: 2em;
    padding: 1em;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 1em;
    background-color: rgb(149, 42, 199);
    box-shadow: 1px 1px 5px;
}